<h1 class="page-title">Login</h1>
<div class="ui raised very padded text container">
  <form class="ui form">
    <div class="field">
      <div class="ui labeled input">
        <div class="ui label" local-class="label">
          Email:
        </div>
        <div class="ui left icon input">
          {{input
          id='email'
          type='email'
          value=model.email
          }}
          <i class="user icon"></i>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui labeled input">
        <div class="ui label" local-class="label">
          Password:
        </div>
        <div class="ui left icon input">
          {{input
          id='password'
          type='password'
          value=model.password
          }}
          <i class="lock icon"></i>
        </div>
      </div>
    </div>
    {{#if errorMessage}}
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Login fail
        </div>
        <p>Wrong credentials
        </p></div>
    {{/if}}
    <div local-class="button">
      <button class="ui button"
              type="submit"
        {{action 'login' model}}>
        Login
      </button>
    </div>
  </form>
</div>

{{outlet}}
