<h4 class="ui horizontal divider header">
  Presentation of Qcm Go
</h4>
<div class="ui raised very padded text container" local-class="description">
  <img class="ui tiny left floated image" src="/assets/images/qcm.jpg">
  <p>Permettre sans effort, de gérer des QCMs les plus variés possibles, auto-corrigés. C'est un outil facile à utiliser, avec un mécanisme de correction automatique de vos tests et questionnaires. Vous générez simplement vos QCM par tirage au sort à partir de banques de questions, et les candidats peuvent passer les examens en ligne.
  </p>
</div>
<div class="ui divider"></div>
{{outlet}}

