<table class="ui compact table">
  <thead>
  <tr>
    <th>Question</th>
    <th>
      <div class="content-center">
        <div class="ui icon buttons">
          <button class="ui icon button" type="button"
            {{action (route-action 'addQuestion')}}>
            <i class="add icon"></i>
          </button>
        </div>
      </div>
    </th>
  </tr></thead>
  <tbody>
  {{#each questions as |question|}}
    <tr>
      <td class="middle aligned">
        {{#katex-html}}
          <div>
            Soit le code suivant :<br>
            \(~~~~~\)#include  ; <br>
            \(~~~~~\)int main() {<br>
            \(~~~~~~~~~~\)int a = 1;<br>
            \(~~~~~~~~~~\)int b = 2;<br>
            \(~~~~~~~~~~\)printf("a = %d, b = %d \(\backslash n\)", b, a);<br>
            \(~~~~~~~~~~\)return 0;<br>
            \(~~~~~\)}<br>
            \( f(x) = \int_{-\infty}^\infty \hat f(\xi)\,e^{2 \pi i \xi x} \,d\xi \)
          </div>
        {{/katex-html}}
        {{katex-formula
        formula = question.question
        }}</td>
      <td class="middle aligned"></td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{yield}}
