<div class="container" local-class="tab">
  <div class="row">
    {{#link-to "pages.user.create.form"}}
      <div class="col-md-6">
        <div class="fluid ui button {{if (eq selected "file") "basic"}}">
          From form
        </div>
      </div>
    {{/link-to}}
    {{#link-to "pages.user.create.csv"}}
      <div class="col-md-6">
        <div class="fluid ui button {{if (eq selected "form") "basic"}}">
          From csv's file
        </div>
      </div>
    {{/link-to}}
  </div>
</div>

{{yield}}
